html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #f9f7f5;
}

button {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, a, input[type=button] {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
